@inject AppState _state

<div class="@_leftOrRight pb-4">
    <div>
        <img src="/api/images/avatar/@Message.SenderDotYouId" class="rounded mr-1" alt="" width="40" height="40">
        @* <div class="text-muted small text-nowrap mt-2">@_timestamp</div> *@
    </div>
    <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
        @* <div class="font-weight-bold mb-1">SENDER NAME</div> *@
        @Message.Body
    </div>
</div>

@code {

    private string _leftOrRight;
    private Int64 _timestamp;

    [Parameter]
    public ChatMessageEnvelope Message { get; set; }

    protected override void OnParametersSet()
    {
        bool isMe = string.Equals(this.Message.Recipient, _state.User.DotYouId, StringComparison.InvariantCultureIgnoreCase);

        if (isMe)
        {
            _leftOrRight = "chat-message-right";
            //_timestamp = Message.SentTimestampMilliseconds;
        }
        else
        {
            _leftOrRight = "chat-message-left";
            //_timestamp = Message.ReceivedTimestampMilliseconds;
        }
        _timestamp = Message.ReceivedTimestampMilliseconds;


        base.OnParametersSet();
    }

}