@page "/private/profile"
@using DotYou.AdminClient.Private.Profile.Views
@inject NavigationManager nav
@inject NavBarLeftInjectableMenu menu
@menu.SetContent(null, false);

<ContentHeader>
    <Header>
        <PageTitle Title="Profile" />
    </Header>
</ContentHeader>
<ContentMain>
    <Row>
        <Column Classes="col.sm._2">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" @onclick="@(() => SetView(View.PublicInfo))" @onclick:preventDefault>Public Info</a>
            </div>
        </Column>
        <Column Classes="col.sm._10">
            @switch (_currentView)
            {
                    
                case View.PublicInfo:
                    <PublicInfo/>
                    break;
                    
            }
        </Column>
    </Row>

</ContentMain>


@code {

    public enum View
    {
        PublicInfo = 0,
    }

    private View _currentView = View.PublicInfo;
    private void SetView(View view)
    {
        this._currentView = view;
        StateHasChanged();
    }
}
