.chat-window {
    display: flex;
    flex-direction: column;
    /*    min-height: 800px;
    max-height: 800px;*/
    height: 800px;
    overflow-y: scroll;
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto;
}

.chat-message-left {
    margin-right: auto;
}

.chat-message-left, .chat-message-right {
    display: flex;
    flex-shrink: 0;
}
