@inject AppUIState _appUiState
@inject NavigationManager nav

<div id="appCapsule" class="pt-0">

    <div class="login-form mt-1">
        @* <div class="section"> *@
        @*     <img src="assets/img/sample/photo/vector4.png" alt="image" class="form-image"> *@
        @* </div> *@
        @* <div class="section mt-1"> *@
        @*     <h1>Get started</h1> *@
        @*     <h4>Fill the form to log in</h4> *@
        @* </div> *@
        <div class="section mt-3 mb-5">
            <form action="app-pages.html">
                <div class="form-group boxed">
                    <div class="input-wrapper">
                        <input type="url" class="form-control" id="email1" placeholder="frodobaggins.me">
                        <i class="clear-input">
                            <ion-icon name="close-circle"></ion-icon>
                        </i>
                    </div>
                </div>

                <div class="form-group boxed">
                    <div class="input-wrapper">
                        <input type="password" class="form-control" id="password1" placeholder="Password" autocomplete="off">
                        <i class="clear-input">
                            <ion-icon name="close-circle"></ion-icon>
                        </i>
                    </div>
                </div>

                <div class="form-links mt-2">
                    <div>
                        <a href="https://youver.se" target="_blank">Create your Digital Identity</a>
                    </div>
                    <div><a href="" class="text-muted">Forgot Password?</a></div>
                </div>

                @* <div class="form-button-group"> *@
                    <div class="form-group boxed mt-2">
                    <button type="button" @onclick="@Authenticate" class="btn btn-primary btn-block btn-lg">Log in</button>
                </div>

            </form>
        </div>
    </div>


</div>

@code {
 
    protected override void OnInitialized()
    {
        _appUiState.BottomTabsVisible = false;
        //this.StateHasChanged();
        base.OnInitialized();
    }

    private void Authenticate()
    {
        nav.NavigateTo("/");
    }

}