@page "/Settings"

<ul class="listview image-listview">
    <li>
        <div class="item">
            <div class="icon-box bg-primary">
                <ion-icon name="alarm"></ion-icon>
            </div>
            <div class="in">
                <div>
                    Dark Mode
                    <div class="text-muted">Toggle Dark Mode</div>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input dark-mode-switch" type="checkbox" id="darkmode">
                    <label class="form-check-label" for="darkmode"></label>
                </div>
            </div>
        </div>
    </li>
</ul>


@code {

}