@using DotYou.AdminClient.Extensions
@inject IEmailMessageClient _email

<div Items="messages" ListGroupType="ListGroupType.Link" Context="message" Class="list-group mt-3">
    @foreach (var message in _messages)
    {
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">@message.Topic</h6>
                <small>@message.ReceivedTimestampMilliseconds.ToDateTimeOffset().ToRelative()</small>
            </div>
            <div>
                <small>From: @message.SenderDotYouId</small>
            </div>
            <p class="mt-2 mb-1">@((MarkupString)FormatBody(message))</p>
        </a>
    }
</div>


@code {

    private IList<Message> _messages = new List<Message>();

    private string FormatBody(Message message)
    {
        var body = message.Body.Length > 250 ? $"{message.Body.Substring(0, 300)}..." : message.Body;
        return body;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var response = await _email.GetMessageList(RootMessageFolder.Drafts, PageOptions.Default);
            var page = response.Content;
            _messages = page?.Results.OrderByDescending(m => m.ReceivedTimestampMilliseconds)?.ToList();
            StateHasChanged();
        }
    //return base.OnAfterRenderAsync(firstRender);
    }
}