@using DotYou.AdminClient.Private.Components
@page "/private/messaging/chat"

@inject HttpClient _http
@inject NavigationManager _nav
@inject IJSRuntime _jsRuntime

<ContentMain>
    <Row>
        @*class="col-12 col-lg-7 col-xl-9"*@
        <Column Classes="col.sm._9">

            <div class="py-2 px-4 border-bottom d-none d-lg-block bg-white">
                <ContactCardMini Contact="@_currentSession?.Contact" />
            </div>

            <div class="position-relative bg-white">
                <div @ref="_chatWindow" class="chat-window p-4">
                    @foreach (var message in _currentSession?.Messages ?? new List<ChatMessageEnvelope>())
                    {
                        <ChatMessage Message="@message" />
                    }
                </div>
            </div>

            <div class="flex-grow-0 py-3 px-4 border-top bg-white">
                <div class="input-group">
                    <input type="text" class="form-control" @bind-value="_messageToSend" placeholder="Type your message">
                    <div class="input-group-append">
                        <button class="btn btn-primary" @onclick="@SendMessage">Send</button>
                    </div>
                </div>
            </div>
        </Column>
        <Column Classes="col.sm._3">
            <div class="px-4 d-none d-md-block bg-white">
                <div class="media align-items-center">
                    <div class="media-body">
                        <input type="text" class="form-control my-3" placeholder="Search...">
                    </div>
                </div>
            </div>

            <OnlineContacts OnClick="HandleContactClicked" />

            <hr class="d-block d-lg-none mt-1 mb-0">
        </Column>
    </Row>
</ContentMain>

@code {

    private ElementReference _chatWindow;
    private string _messageToSend;

    private class ChatSession
    {
        public Contact Contact { get; set; }
        public List<ChatMessageEnvelope> Messages { get; set; } = new List<ChatMessageEnvelope>();
    }

    private ChatSession _currentSession = new ChatSession();
    private Dictionary<string, ChatSession> _sessions = new Dictionary<string, ChatSession>(StringComparer.InvariantCultureIgnoreCase);
    
    private void HandleContactClicked(Contact c)
    {
        ChatSession session;
        if (!_sessions.ContainsKey(c.DotYouId))
        {
            session = new ChatSession()
            {
                Contact = c,
            };
            
            _sessions.Add(c.DotYouId, session);
        }

        _currentSession = _sessions[c.DotYouId];
        StateHasChanged();
    }

    private void HandleMessageReceived()
    {
        ChatInterop.AnchorScrollAtBottom(_jsRuntime, _chatWindow);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        //base.OnAfterRender(firstRender);
        ChatInterop.AnchorScrollAtBottom(_jsRuntime, _chatWindow);

    }

    private void SendMessage()
    {

        // var cm = new ChatMessageEnvelope()
        // {
        //     Id = Guid.NewGuid(),
        //     Recipient = new Contact() { DotYouId = (DotYouIdentity)"sam" },
        //     Body = messageToSend
        // };
        // this._currentSession.Messages.Add(cm);

        StateHasChanged();
    }

}
