#https://superuser.com/questions/1171751/restart-systemd-service-automatically-whenever-a-directory-changes-any-file-ins

[Unit]
Description=Watches for changes in dotyoucore host and restarts the service
After=network.target
StartLimitIntervalSec=10
StartLimitBurst=5

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart dotyoucore.service
SyslogIdentifier=dotyoucore-watcher

[Install]
WantedBy=multi-user.target