[Unit]
Description=Watches for changes to the /srv/dist/dotyoucore folder and deploys them
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart dotyoucore.service
SyslogIdentifier=dotyoucore-watcher

[Install]
WantedBy=multi-user.target