/* abel-regular - latin */
@font-face {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/abel/abel-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('./fonts/abel/abel-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./fonts/abel/abel-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('./fonts/abel/abel-v12-latin-regular.woff') format('woff'), /* Modern Browsers */ url('./fonts/abel/abel-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('./fonts/abel/abel-v12-latin-regular.svg#Abel') format('svg'); /* Legacy iOS */
}

.card {
    padding: 5px;
    border-radius: 7px;
}

.wrapper {
    min-height: 100vh;
    max-width: 98%;
    margin: 0 auto;
    padding: 1px 1px;
    justify-content: space-around;
}

.offcanvas-menu {
    width: 111px !important;
}